{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'public/css/bootstrap.min.css' %}">
    <script defer src="{% static 'public/js/jquery-3.4.1.min.js' %}"></script>
    <script defer src="{% static 'public/js/popper.min.js' %} "></script>
    <script defer src="{% static 'public/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'public/js/indexjs.js' %}"></script>
    <script defer src="{% static 'public/js/funcionesUriel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'public/estilos-login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <div class="container-fluid flex-column">
        <div class="row flex-row nav-bar flex-md-row-reverse align-items-center">
            <img class="settings mx-3 d-md-flex d-none" src="{% static 'public/img/settings.png' %}" alt="">
            <img class="menu-icon d-flex d-md-none mx-3" src="{% static 'public/img/list.png' %}" alt="">
            <img class="user offset-2 offset-md-0" src=" {% static 'public/img/man.png' %}" alt="">
            <p class="name mt-2 mx-2">Miguel Angel Nuñez Perez</p>
            
        </div>
        <div class="row row-content">
            <div class="aside d-none d-md-flex col-md-2 col-lg-2 col-xl-2 flex-column">
            <a href="{% url 'index' %}">
                <div class="row aside-carac">
                    <div class="col-12 d-flex flex-row aside-1 justify-content-center align-items-center">
                        <img src="{% static 'public/img/team.png'%}" alt="">
                        <p class="mx-2 my-0">Perfiles generados</p>
                    </div>
                </div>
            </a>
                <a href="{% url 'socios' %}">
                    <div class="row aside-carac">
                        <div class=" aside-carac col d-flex flex-row aside-2 justify-content-center align-items-center">
                            <img src="{% static 'public/img/family.png'%}" alt="">
                            <p class="mx-2 my-0">Socios de la entidad</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'prediccion' %}">
                    <div class="row aside-carac">
                        <div class=" aside-carac col d-flex flex-row aside-3 justify-content-center align-items-center">
                            <img src="{% static 'public/img/diagram.png'%}" alt="">
                            <p class="mx-2 my-0">Predicción de prospectos</p>
                        </div>
                    </div>
                 </a>
            </div>
            <div class="cards-container col-12 col-md-10 col-lg-10 col-xl-10 flex-column justify-content-center align-items-center overflow-auto">
                <div class="col-12 p-4">
                    <h1>{% block seccion %}{% endblock seccion %} | Caja Guadalupe</h1>
                </div>
                {% block content %}
                {% endblock content %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
 
</script>