{% extends 'base.html' %}
{%load static%}
{% block seccion %}Perfiles{% endblock seccion %}
{% block content %}
<div class="row card-title">
    <div class="col-12 col-md-4 align-items-center justify-content-center">
    <!-- Card -->
    <div class="card d-flex flex-column p-2 my-3">
        <h2>ACATIC | Bajo</h2>
        <div class="img-card p-2">
            <img src="{% static 'public/img/man.png'%}" alt="" srcset="">
        </div>
        <div id="carac" class="carac d-flex flex-row justify-content-center p-2" data-toggle="collapse" data-target="#cred" aria-expanded="false" aria-controls="cred" role="button">
            <img src="{% static 'public/img/menu.png'%}" alt="" srcset="">
        </div>
        <div id="cred" class="creditos-container collapse">
            <div class="caracteristica">
                <p class="feat-title">Sexo:</p>
                <p>Masculino</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Edad:</p>
                <p>29 años</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Ocupación:</p>
                <p>Ganado Vacuno de Leche</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Monto:</p>
                <p>$10,000</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Mes de credito:</p>
                <p>Mayo</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Tipo de credito:</p>
                <p>Comercial</p>
            </div>
        </div>
    </div>
    </div>

<div class="col-12 col-md-4 align-items-center justify-content-center">
    <!-- Card -->
    <div class="card d-flex flex-column p-2 my-3">
        <h2>ACATIC | Medio </h2>
        <div class="img-card p-2">
            <img src="{% static 'public/img/man.png'%}" alt="" srcset="">
        </div>
        <div id="carac" class="carac d-flex flex-row justify-content-center p-2" data-toggle="collapse"
            data-target="#cred-2" aria-expanded="false" aria-controls="cred" role="button">
            <img src="{% static 'public/img/menu.png'%}" alt="" srcset="">
        </div>
        <div id="cred-2" class="creditos-container collapse">
            <div class="caracteristica">
                <p class="feat-title">Sexo:</p>
                <p>Masculino</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Edad:</p>
                <p>58 años</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Ocupación:</p>
                <p>Ganado Vacuno de Leche</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Monto:</p>
                <p>$50,000</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Mes de credito:</p>
                <p>Octubre</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Tipo de credito:</p>
                <p>Comercial</p>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-4 align-items-center justify-content-center">
    <!-- Card -->
    <div class="card d-flex flex-column p-2 my-3">
        <h2>ARANDAS | Alto</h2>
        <div class="img-card p-2">
            <img src="{% static 'public/img/girl.png'%}" alt="" srcset="">
        </div>
        <div id="carac" class="carac d-flex flex-row justify-content-center p-2" data-toggle="collapse"
            data-target="#cred-3" aria-expanded="false" aria-controls="cred" role="button">
            <img src="{% static 'public/img/menu.png'%}" alt="" srcset="">
        </div>
        <div id="cred-3" class="creditos-container collapse">
            <div class="caracteristica">
                <p class="feat-title">Sexo:</p>
                <p>Masculino</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Edad:</p>
                <p>41 años</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Ocupación:</p>
                <p>Empleados</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Monto:</p>
                <p>$1M</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Mes de credito:</p>
                <p>Octubre</p>
            </div>
            <div class="caracteristica">
                <p class="feat-title">Tipo de credito:</p>
                <p>Consumo</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}