{% extends 'index.html' %}
{% load static %}
{% block seccion %}Predicción de Socios{% endblock seccion %}
{% block content %}
<div class="col-8 offset-2 perfil-container">
<div class="row flex-md-row flex-column">
    <form action="">
        <p for="">Municipio</p>
        <input type="text" id="municipio">
        <p for="">Mes de Entrega</p>
        <input type="text" id="mesEntrega">
        <p for="">Edad</p>
        <input type="number" id="edad">
        <p for="">Género</p>
        <select name="genero" id="genero">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
        <p for="">Ocupación</p>
        <select name="ocupacion" id="ocupacion">
            <option value="AMADECASA">Ama de Casa</option>
            <option value="COMPRAVENTAARTICULOSDEBONETERIA">Compra Venta de Artículos de Bonetería</option>
            <option value="COMPRAVENTAARTICULOSDEMERCERIA ">Compra Venta de Artículos de Mercería</option>
            <option value="COMPRAVENTAARTICULOSPARAREGALO">Compra Venta de Artículos para Regalo</option>
            <option value="COMPRAVENTADEACCESORIOSPMUJER">Compra Venta de Accesorios para Mujer</option>
            <option value="COMPRAVENTADEACEITEQUEMADO">Compra Venta de Aceite Quemado</option>
            <option value="COMPRAVENTADEAUTOMOVILESUSADOS ">Compra Venta de Automóviles Usados</option>
            <option value="COMPRAVENTADECALZADO">Compra Venta de Calzado</option>
            <option value="COMPRAVENTADECARNE(CARNICERIA)">Compra Venta de Carne (Carnicería)</option>
            <option value="COMPRAVENTADECARNEDEAVES">Compra Venta de Carne de Aves</option>
            <option value="COMPRAVENTADECARNEDERESGANADO">Compra Venta de Carne de Res Ganado</option>
            <option value="CRIAYEXPLOTACIONDEGANADOOVINO">Cría y Explotación de Ganado Ovino</option>
            <option value="CRIAYEXPLOTACIONDEPOLLOS">Cría y Explotación de Pollos</option>
            <option value="CULTIVODECHIA">Cultivo de Chía</option>
            <option value="CULTIVODEJITOMATE">Cultivo de Jitomate</option>
            <option value="CULTIVODEMAIZ">Cultivo de Maíz</option>
            <option value="CULTIVODETOMATE">Cultivo de Tomate</option>
            <option value="EMPLEADO">Empleado</option>
            <option value="GANADOCAPRINO">Ganado Caprino</option>
            <option value="GANADOPORCINO">Ganado Porcino</option>
            <option value="GANADOVACUNODECARNE">Ganado Vacuno de Carne</option>
            <option value="GANADOVACUNODELECHE">Ganado Vacuno de Leche</option>
        </select>
    </form>
    <button onclick="getPrediction()">Enviar</button>
</div>
</div>
{% endblock content %}