{% extends 'base.html' %}
{% load static %}
{% block seccion %}Socios {% endblock seccion %}
{% block content %}

    <div class="container" >
        <p>Busca los clientes y sus caracteristicas</p>
        
        <label for="socio">Socio</label> <br>
        <input type="text" id="socio" class="form-control">

            <br>
        <div class="container">
            <button class="btn btn-primary">Buscar</button>
        </div>

        <div class="container" class="col">
            <p>Ciudad</p>
            <p><b>Guadalajara</b></p>
            <p>Credito</p>
            <p><b>Comercial</b></p>
            <p>Mes</p>
            <p><b>Mayo  </b></p>
            <p>Cantidad</p>
            <p><b>$13,0000</b></p>
            <p>Edad</p>
            <p><b>31 años</b></p>
            <p>Ocupacion</p>
            <p><b>Agricultura</b></p>

        </div>
        
    </div>

{% endblock content %}